//  flex 部分
.d-flex {
    display: flex;
}
.align-items-center{
    align-items: center;
}

// margin
.m-r-8{
    margin-right: 8px;
}

.pagination{
    ul{
        display: flex;
        justify-content: center;
    }
    a{ 
        display: block;
        font-size: 19px;
        color:#555555;
        line-height: 24px;
        padding:10px 14px 10px 14px;
        border: 1px solid #555555;
        border-right:  none;
    }
    a:hover{ 
        background-color: #F2F2F2;
    }
    li:first-child a,li:last-child a{
        font-weight: bold;
    }
    li:last-child a{
        border-right: 1px solid #555555;
    }
    .active{
        background-color: #000000;
        color:#FFFFFF;
    }
}

@media (max-width:767px){
    .pagination{
        a{
            font-size: 12px;
            line-height: 19px;
        }
    }
}


.medium-banner{
    height: 304px;
    background: url(../images/store/qa.png) no-repeat center center;
    background-size: cover;
    position: relative;
    h1{ 
        font-size: 64px;
        line-height: 90px;
        font-weight: bold;
        margin-right: 24px;
    }
    img{
        width: 40px;
        height: 58px;   
    }
    .medium-title{
        position: absolute;
        bottom: 0;
    }
}
@media (max-width:992px){
    .medium-banner{
        h1{ 
            font-size: 48px;
            line-height: 80px;
            margin-right: 16px;
        }
        img{
            width: 30px;
            height: 44px;
        }
    }
}
@media (max-width:767px){
    .medium-banner{
        height: 143px;
        

        h1{ 
            font-size: 28px;
            line-height: 40px;
            margin-right: 8px;
        }
        img{
            width: 18px;
            height: 24px;
        }
    }
}