.qa-content{
    padding-top: 80px;
    padding-bottom: 304px;
    li{
        margin-bottom: 40px;
    }
    li:last-child{
        margin-bottom: 0;
    }
    h2{ 
        font-size: 32px;
        line-height: 45px;
        font-weight: bold;
        margin-bottom: 36px;
    }
    h3{
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 16px;
        font-weight: bold;
    }
    p{
        width: 920px;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        padding-left: 95px;
    }
}
@media (max-width:992px){
    .qa-content{
        padding-top: 40px;
        padding-bottom: 104px;
        h2{ 
            font-size: 32px;
            line-height: 45px;
            margin-bottom: 36px;
        }
        p{
            padding-left: 60px;
            width: 100%;
        }
        li{
            margin-bottom: 40px;
        }
    }
}
@media (max-width:767px){
    .qa-content{
        padding-top: 24px;
        padding-bottom: 56px;
        h2{ 
            font-size: 20px;
            line-height: 28px;
            margin-bottom: 12px;
        }
        p{
            padding-left: 0px;
            width: 100%;
        }
        li{
            margin-bottom: 20px;
        }
    }
}