
.tab{
    ul{
        justify-content: space-around;
        max-width: 1386px;
        margin:0 auto;
    }
    li{
        width: 462px;
        font-weight: normal;
        justify-content: center;
        border:1px solid #DCDCDC;       
         
    }
    li a{
        justify-content: center;
        width: 100%;
        padding-top: 24px;
        padding-bottom: 8px;
        color: #000000;
        border-bottom: 16px solid transparent;
    }
    li a:hover{
        cursor: pointer;
    }
    li a p{
        font-size: $font-size-xl;
        line-height: 55px;
        font-weight: bold;
    }
    .active{
        border-bottom: 16px solid $red;
    }
}

@media (max-width:992px){
    .tab{
        .m-r-8{
            margin-right: 4px;
        }
        li a{
            padding-top: 16px;
            border-bottom: 8px solid transparent;
        }
        li a p{
            font-size: 28px;
            line-height: 37px;
        }
        li img{
            width: 32px;
            height: 32px;   
        }
        .active{
            border-bottom: 8px solid $red;
        }
    }
}

@media (max-width:767px){
    .tab{
        li a{
            padding-top: 8px;
            border-bottom: 4px solid transparent;
            padding-bottom: 4px;
        }
        li a p{
            font-size: 14px;
            line-height: 19px;
        }
        li img{
            width: 15px;    
            height: 19px;   
        }
        .active{
            border-bottom: 4px solid $red;
        }
    }
}

.optical-bg{
    justify-content: space-between;
    margin-bottom: 88px;
    img{
        display: block;
        width: 49%;
        max-height: 309px;
    }
}

@media (max-width:992px){
   
    .optical-bg{
        margin-bottom: 40px;
        img{
            width: 50%;
        }
    }
}
@media (max-width:767px){
   
    .optical-bg{
        margin-bottom: 30px;
        img{
            width: 50%;
        }
    }
}

.category{
    display: none;
}
.series-title{
    font-size: $font-size-xl;
    line-height: 63px;
    font-weight: bold;
}

.series-subtitle{
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 40px;
    font-weight: bold;
}

@media (max-width:992px){
    .series-title{
        font-size: 32px;
        line-height: 43px;
    }
    .series-subtitle{
        font-size: 24px;
        line-height: 33px;
    }
}
@media (max-width:767px){
    .series-title{
        font-size: 20px;
        line-height: 26px;
    }
    .series-subtitle{
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 20px;
    }
}



.glass-number{
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 8px;
}
.price{
    color: $red;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 11px;
    font-weight: bold;
}
.block{
    width: 24px;
    height: 24px;
    background-color: #5F3E2D;
    border-radius: 4px;
    margin-right: 8px;
}
.block:nth-child(2n){
    background-color: #B75929;
}


.optical-glasses{
    text-align: center;
    margin-bottom: 188px;
    .glass-text{
        display: flex;
        justify-content: space-between;
    }
    .glass-items{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .glass-items li{
        text-align: left;
        width: 23%;
        margin-bottom: 104px;
    }
    .glass-items img{
        width: 100%;
    }
}

@media (max-width:992px){
    .optical-glasses{
        margin-bottom: 104px;
        .container{
            max-width: 100%;
            padding: 0 39px;
        }
        .glass-items li{
            width: 48%;
            margin-bottom: 72px;
        }
        .glass-items li:last-child{ 
            margin-bottom: 105px;
        }
    }   
}
@media (max-width:767px){
    .optical-glasses{
        margin-bottom: 56px;
        .container{
            max-width: 100%;
            padding: 0 15px;
        }
        .glass-items li{
            width: 100%;
            margin-bottom: 32px;
        }
        .glass-items li:last-child{ 
            margin-bottom: 40px;
        }
    }   
    .price, .glass-number{
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 0px;
    }
}





.sun-glasses{
    text-align: center;
    margin-bottom: 192px;

    .glass-items{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .glass-items li{
        text-align: left;
        width: 32%;
        margin-bottom: 112px;
    }

}

@media (max-width:992px){
    .sun-glasses{
        .glass-items li{
            width: 49%;
        }
    }
}
@media (max-width:767px){
    .sun-glasses{
        margin-bottom:56px;
        .glass-text{
            display: flex;
            justify-content: space-between;
        }
        
        .glass-items li{
            width: 100%;
            margin-bottom: 32px;
        }
        .glass-items li:last-child{
            margin-bottom: 40px;
        }
    }
}