//base setting
$base-font-size: 24px ;
$base-line-height: 36px;
$font-default: 16px; //預設字體大小
$font-middle: 18px;
$font-big: 24px;

$font-size-xxl: $base-font-size * 2;
$font-size-xl: 42px;
$font-size-l: $base-font-size * 1.25;
$font-size-m: $base-font-size * 1;



//color
$darkgreen: #5EB95E;
$text-color: #ccc;
$hot-color: #46d3b9;
$white: #fff;
$black: #000;
$color-bg: #0f222b ;
$dark-blue: #0C4191;
$light-blue: #1B75BC;
$common-dark: #535E64;
$common-red: #FD5259;
$orange: #FFD74D;

$red: #AA0601;
$dark: #535E64;